@charset "utf-8";

/* Default settings */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

nav {
    font-family: 'Dosis', sans-serif;
    font-size: 21px;
}

a.navbar-brand img {
    border-radius: 50%;
}

#first-segment {
    height: 80vh;
}

.parallax {
    /* The image used */
    background-image: url("../sources/parallax_img.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me-text {
    font-size: 24px;
}

.card {
    border: none;
    border-radius: 15px;
    background-color: #f8f9fa;
    max-width: 100%;
    overflow: hidden;
}

.card img {
    border-radius: 15px 15px 0 0;
    filter: brightness(95%);
    transition: transform .2s;
}

.card img:hover {
    transform: scale(1.02);
    z-index: 50;
}

.card-body a {
    z-index: 1;
}

.work-experience-heading,
.work-experience-date,
.work-experience-title {
    font-size: 24px;
}

.work-experience-heading {
    font-weight: bold;
    margin: 0;
}

.work-experience-title {
    font-weight: 300;
    color: #bdbdbd;
}

.work-experience-date {
    font-weight: 300;
    color: lightgray;
}

.work-block {
    border-bottom: 1px solid #e5e5e5;
}
